/* This css file, together with is corresponding html are used to illustrate the concept of nested grids
  for web page layout 
  
  Author: Oveeyen Moonian
  Date: February 1, 2022
  
  */

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 15px 30px;
}

.item {
    font-size: 3em;
    text-align: center;
    padding-top: 0.5em;
}

.header {
    background-color: #e9e9e9e3;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 1;
}


.leftbar {
    background-color: #c2c0c0c2;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.central {
    background-color: #969393ad;
    padding-top: 1em;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;

    /*central is a child of the main grid container
    but it is itslef a grid container for paragraph1,
    paragraph2 and paragraph3 */
    
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 1fr  1fr 1fr; 
}


.rightbar {
    background-color: #7e7b7b75;
    padding-top: 1em;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
}

.footer {
    background-color: #969393ad;
    padding-top: 1em;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: span 1;
}


/* The 3 items below are grid items in the 
   grid container class central.
*/

    #paragraph1 {
        color: red;
        grid-column: 2/3;
        grid-row: 1/2;
        border-width: 2px;
        border-color: yellow;
    }

    #paragraph2 {
        color: blue;
        grid-column: 1/2;
        grid-row: 3/3;
        font-size: 0.5em;
        border-width: 10px;
        border-color: yellow;
    }

    #paragraph3 {
        color: blue;
        grid-column: 3/4;
        grid-row: 3/3;
        font-size: 0.5em;
        border-width: 10px;
        border-color: yellow;
    }
   