.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 10px 15px;
}
body{
    background-color:bisque;
    font-family: 'Roboto Slab', serif;;
}

main{
    text-decoration-color: black;
    font-size: large;
}

footer{
    background-color: rgb(103, 103, 103);
}

.header {
    justify-content: center;
    text-align: center;
    align-content: center;
    font-style: italic;
    font-size:x-large;
    background-color: rgb(205, 205, 205);
    font-family: 'Major Mono Display', monospace;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: auto;
    border-bottom: 3px;
    border-style: solid;
    border-color:#303030dd ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: auto;
    padding-right: auto;
}

.navegation {
    text-align: center;
    font-style: italic;
    font-size:x-large;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(161, 235, 237);
    font-family: 'IBM Plex Mono', monospace;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 2;
    grid-row-end: auto;
    border-bottom: 3px;
    border-style: solid;
    border-color:#303030dd ;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

a
{
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
    font-family: 'Oswald', sans-serif;
}

.bikes{
    text-align: center;
    font-family: 'Arvo', serif;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 3;
    grid-row-end: span 1;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    border-color:#303030dd ;
    background-color: #b7b6b6;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#content{
    text-decoration-color: black;
    font-size: large;
    text-align: justify;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 4;
    grid-row-end: span 1;
    border-width: 3px;
    border-style: solid;
    border-color:#303030dd ;
    background-color: #ffd494;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#content #hobbies h4{
    text-decoration: underline;
    font-weight: 600;
    font-size: large;
    color: black;
    letter-spacing: 1px;
}

#content #hobbies ul{
    font-weight:550;
    font-size: large;
    color: rgba(59, 117, 253, 0.886);
    letter-spacing: 1px;
    list-style:square;
}

#content #hobbies ul li action{
    font-size: large;
    font-weight: bold;
    color: rgba(29, 75, 42, 0.796);
    letter-spacing: 1px;
}

.nait{
    /* text-align: center; */
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 5;
    grid-row-end: span 1;
    border-width: 3px;
    border-style: solid;
    border-radius: 30px;
    border-color:#303030dd ;
    background-color: #7cddf3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* .ajust{
    display:flex;
    justify-content: center;
    align-items: center;
} */

#list{
    font-size: large;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 6;
    grid-row-end: span 1;
    border-width: 3px;
    border-style: solid;
    border-radius: 40px;
    border-color: tomato ;
    background-color: lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#list ol{
    list-style-type:decimal;
}

.footer{
    font-size: medium;
    text-align: center;
    color:rgb(218, 218, 218);
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 7;
    grid-row-end: span 0;
    border-width: 3px;
    border-style:groove;
    border-color: gray ;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and ( min-width : 800px ) {
    .container {
        display: grid;
        grid-template-columns: 1.5fr 3fr 1.5fr;
        grid-template-rows: 0.1fr 0.1fr 2fr 2fr 0.5fr;
        grid-gap: 10px 15px;
    }
    .header {
        justify-content: center;
        text-align: center;
        align-content: center;
        font-style: italic;
        font-size:x-large;
        background-color: rgb(205, 205, 205);
        font-family: 'Major Mono Display', monospace;
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 1;
        grid-row-end: span 1;
        border-bottom: 3px;
        border-style: solid;
        border-color:#303030dd ;
        padding-top: auto;
        padding-bottom: auto;
        padding-left: auto;
        padding-right: auto;
    }

    .navegation {
        text-align: center;
        font-style: italic;
        font-size:x-large;
        font-family: 'Oswald', sans-serif;
        background-color: rgb(161, 235, 237);
        font-family: 'IBM Plex Mono', monospace;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 1;
        border-bottom: 3px;
        border-style: solid;
        border-color:#303030dd ;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    a
    {
        font-family: 'Oswald', sans-serif;
    }

    .bikes{
        text-align: center;
        font-family: 'Arvo', serif;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 2;
        border-width: 3px;
        border-style: solid;
        border-radius: 30px;
        border-color:#303030dd ;
        background-color: #b7b6b6;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    img{
        height: 225px;
        width: 350px;
    }
    #content{
        text-decoration-color: black;
        font-size: large;
        text-align: justify;
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 2;
        border-width: 3px;
        border-style: solid;
        border-color:#303030dd ;
        background-color: #f8c0f47e;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        /* background-image: url(\img\Nait_Black_White_Logo.jpg); */
    }

    .nait{
        display:flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 3;
        grid-column-end: end;
        grid-row-start: 2;
        grid-row-end: span 2;
        border-width: 3px;
        border-style: solid;
        border-radius: 30px;
        border-color:#303030dd ;
        background-color: #7cddf3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .ajust{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
        padding-top: auto;
        width: 50%;
        width: 300px;
        height: 300px;
    }

    #list{
        font-size: large;
        text-align: left;
        grid-column-start: 3;
        grid-column-end: end;
        grid-row-start: 4;
        grid-row-end: span 1;
        border-width: 3px;
        border-style: solid;
        border-radius: 40px;
        border-color: tomato ;
        background-color: lightgrey;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer{
        font-size: medium;
        text-align: center;
        color:rgb(218, 218, 218);
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 5;
        grid-row-end: end;
        border-width: 3px;
        border-style:groove;
        border-color: gray ;
        background-color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
}